<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "DoctorClinic", root_path, class: "navbar-brand" %>
    </div>
    <div class="collapse navbar-collapse" id="navbar">
      <ul class="nav navbar-nav">
        <li > <%= link_to "Home", root_path, class: "active" %></li>
        <% if doctor_signed_in? %>
          <li>
            <%= link_to "Schedules", schedules_path(current_doctor) %>
          </li>
          <li>
            <a href="javascript:void(0)" >Hello! <%= current_doctor.name %></a>
          </li>
          <li>
            <%= link_to "Sign out", destroy_doctor_session_path, :method => :delete %>
          </li>
        <% else %>
          <li>
            <%= link_to "Sign up", new_doctor_registration_path %>
          </li>
          <li>
             <%= link_to "sign in", new_doctor_session_path %>
          </li>
        <% end %>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>
<div class="clearfix" style="margin-bottom: 5%;"></div>