<!DOCTYPE html>
<html>
<head>
  <title>DoctorClinic</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if !request.path.include? "admin"%>
    <%= render 'layouts/header'%>
  <%end%>
<%= yield %>
</body>
</html>
